body {
  padding: 2em;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

header {
  display: inline-block;
}

main {
  margin-top: 5em;
  opacity: 0;
  pointer-events: none;
}

main.animate {
  opacity: 1;
  animation: show-contents 0.5s;
  pointer-events: initial;
}

details {
  margin-bottom: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

details > summary {
  border: none;
  outline: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary > strong {
  font-size: 1.4em;
}

details ul {
  list-style: none;
}

details ul li ul {
  list-style: disc;
  margin-top: 0.25em;
}

details ul li ul li {
  margin-bottom: 0.25em;
  line-height: 1.5em;
}

details > ul > li {
  margin-bottom: 1em;
}

details > p {
  font-size: 0.8em;
  padding-left: 2.5em;
}

address {
  font-size: 1.25em;
}

.first-names {
  font-size: 2em;
  text-align: right;
  transform: scaleY(0);
  transform-origin: bottom;
}

.first-names.animate {
  transform: scaleY(1);
  animation: first-name-expanded 0.5s;
}

.family-name {
  display: flex;
  font-family: 'Staatliches', sans-serif;
  font-size: 10em;
  line-height: 0.75em;
}

.family-name div:nth-child(even) {
  max-width: 0;
  overflow: hidden;
}

.family-name.animate div:nth-child(even) {
  max-width: 2em;
  animation: family-name-expanded 1s;
}

@keyframes first-name-expanded {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

@keyframes family-name-expanded {
  from {
    max-width: 0;
  }

  to {
    max-width: 2em;
  }
}

@keyframes show-contents {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }

  main {
    max-width: 768px;
  }

  details {
    font-size: 1em;
  }

  details > p {
    font-size: 1em;
  }

  .first-names {
    font-size: 1em;
  }

  address {
    font-size: 0.8em;
  }
}

